<div style="text-align:center;">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-2" ></div>
        <div class="col-7" >
         <h3>投稿フォーム</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-1" >
        </div>
        <div class="col-10">
          <% if @post.errors.any? %>
            <%= @post.errors.count %>件のエラーが発生しました
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <%= form_with model:@post,url:posts_path do |f| %>
            <table class="table table-bordered">
              <tbody>
                <div class="d-flex">
                  <tr>
                  　<th class="contact-item">求めるレベル</th>
                  　<td id='level' class="contact-body">
                      <%= f.label :level,'レベル ' %>
                      <%= f.hidden_field :level, id:'level_star' %>
                  　</td>
                  </tr>
                  <tr>
                  　<th class="contact-item">地域</th>
                  　<td class="contact-body">
                  　 <%= f.collection_select(:region_id, Region.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
                  　</td>
                  </tr>
                  <tr>
                  　<th class="contact-item">投稿文</th>
                  　<td class="contact-body">
                  　    <%= f.text_area :text, rows:'6', placeholder: "投稿文",class: "text_area"  %>
                  　</td>
                  </tr>
                </div>
              </tbody>
            </table>
            <%= f.submit '投稿',class: "btn btn-success" %>
            <% end %>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    let elem = document.querySelector('#level');
    if (elem == null) return;
    elem.innerHTML = "";
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: 'post[level]',
    };
    raty(elem, opt);
  });
</script>
