<% @another_entries.each do |entry| %>
 <%= link_to room_path(entry.room) do %>
   <div class="card">
      <div class="card-body">
         <div>
           <div class="d-flex">
             <div class="chat-avatar">
                <div class="object">
                 <%= link_to user_path(entry.user) do %>
                  <%= image_tag entry.user.get_profile_image(100,100) %>
                 <% end %>
                </div>
                 <div class="chat-user-name">
                    <%= entry.user.name %>
                  </div>
                  <div class="chat-text">
                    <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
                  </div>
             </div>
           </div>
         </div>
      </div>
    </div>
  <% end %>
 <% end %>










<!--   <table class="table table-striped rooms-index">-->
<!--     <tbody>-->
<!--       <tr>-->
<!--         <td><#%= link_to image_tag entry.user.get_profile_image(50,50),user_path(entry.user) %></td>-->
<!--         <td><#%= link_to entry.user.name, user_path(entry.user) %></td>-->
<!--         <td>#<#%= link_to Message.find_by(id: entry.room.message_ids.last)&.body,room_path(entry) %></td>-->
<!--       </tr>-->
<!--     </tbody>-->
<!--   </table>-->
<!--  <$#% end %>-->
<!--<#% end %>-->