<!DOCTYPE html>
<html>
  <head>
    <title>Badofure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
　　<script src="https://kit.fontawesome.com/ada316a89e.js" crossorigin="anonymous"></script>
　　<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <nav class="navbar navbar-expand bg-body-tertiary"style="background-color: #FF8C00;">
        <div class="container-fluid">
          <%= link_to root_path, class: 'navbar-brand text-light' do %>
            <%= image_tag 'facebook_cover_photo_1.png', size: "160x64" %>
          <% end %>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


              <% if user_signed_in? %>
                <li class="nav-item user-name">ようこそ、<%= current_user.name %>さん！</li>
                <li class="nav-item">
                  <%= link_to user_path(current_user), class:"nav-link text-light" do %>
                    <i class="fa-solid fa-house"></i> マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_post_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-paintbrush"></i> 投稿
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to posts_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-envelopes-bulk"></i> 投稿一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to users_path, class:"nav-link text-light" do %>
                  　<i class="fa-solid fa-users"></i> バドフレ一覧
                  <% end %>
                </li>
                 <li class="nav-item">
                  <%= link_to public_contacts_new_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-paper-plane"></i> お問い合わせ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-sign-out-alt"></i> ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                <%= link_to admin_posts_path, class:"nav-link text-light" do %>
                 <i class="fa-solid fa-envelope"></i> 投稿一覧
                <% end %>
                </li>
                <li class="nav-item">
                <%= link_to admin_users_path, class:"nav-link text-light" do %>
                 <i class="fa-solid fa-user"></i> バドフレ一覧
                <% end %>
                </li>
                <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                 <i class="fa-solid fa-sign-out-alt"></i> ログアウト
                <% end %>
                </li>

              <% else %>
                <li class="nav-item">
                  <%= link_to new_user_registration_path , class:"nav-link text-light" do %>
                    <i class="fa-solid fa-user-plus"></i> 新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-sign-in-alt"></i> ログイン
                  <% end %>
                </li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </body>
</html>
